// Règles
@import "../../styleRules/styleRules.scss";

#loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    #loginTopRowContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #stayLoggedContainer{
        display: flex;
        align-items: flex-end;
    }
    
    .forgottenPwd{
        font-size: 0.75em;
    }
    
    #registerLink{
        font-size: 0.9em;
        margin-top: 0.3em;
    }
}

