/* Colors */
$mainColor: #B04541;
$secondColor: white;
$thirdColor: darkgrey;

/* Fonts */
// Main
@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");
$mainFont: "KoHo", sans-serif;
// Title
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
$titleFont: 'Oswald', sans-serif;