// Règles
@import "../../styleRules/styleRules.scss";

#makingsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
    #makingsList{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        height: 50vh;
        position: relative;
        transform-style: preserve-3d;
        .makingItem{
            margin: 1em 0em;
            padding: 0.3em;
            border: 0.3em ridge #EEEEEE;
            border-radius: 0.35em;
            height: 45vh;
            width: 35vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            transition: transform 0.5s;
            img{
                width: 100%;    
            }
            .makingItemInfos{
                width: 100%;
                margin-top: 0.75em;
                display: flex;
                flex-direction: column;
                .makingItemTitle{
                    font-weight: bold;
                }
                .makingLink{
                    align-self: flex-end;
                }
            }
        }
    }
}

