#makingsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#makingsList{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.makingItem{
    margin: 1em 0em;
    padding: 0.3em;
    border: 0.3em ridge #EEEEEE;
    border-radius: 0.35em;
    height: 18em;
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.makingItem img{
    width: 100%;    
}

.makingItemInfos{
    width: 100%;
    margin-top: 0.75em;
    display: flex;
    flex-direction: column;
}

.makingItemTitle{
    font-weight: bold;
}