// Règles
@import "../../styleRules/styleRules.scss";

/*Styles composant Bannière*/
#banner{
    display: flex;
    flex-direction: column;
    height: 6.5em;
    #bannerTop{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: $mainColor;
        #presentationPhoto{
            a{
                position: absolute;
                top: -0.6em;
                left: -1.95em;
                img{
                    height: 100px;
                    width: 100px;
                    border: 5px solid $mainColor;
                    border-radius: 0 100% 100% 100%;
                }
            }
        }
        h1{
            flex: 2;
            margin: 0 0 0.25em 75px;
            padding: 0;
            font-size: 2.1em;
            letter-spacing: 0.05em;
        }
        #bannerTopRight{
            flex: 8;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            #navMenu{
                flex: 9;
                width: 100%;
                ul{
                    margin: 0 1em;
                    display: flex;
                    justify-content: flex-end;
                    li{
                        margin: 0.4em;
                        list-style: none;
                        font-family: $titleFont;
                        font-size: 1.2em;
                    }
                }
                #logMenu{
                    flex: 1;
                }
            }
        }
        .bannerLink:hover{
            color: $secondColor;
        }
    }
    #bannerBottom{
        margin: 0 0 0 90px;
        div{
            display: flex;
            align-items: flex-end;
            h2{
                margin: 0;
                padding: 0;
                font-size: 1.3em;
            }
            .presentationIcon{
                margin-left: 0.35em;
                color: $mainColor;
                height: 1.4em;
                width: 1.4em;
            }
        }
        span{
            margin: 0;
            padding: 0;
            font-size: 1em;
        }
    }
    #cookieMessage{
        position: absolute;
        top: 0.5em;
        left: 50%;
        transform: translateX(-12.5em);
        height: 10em;
        width: 25em;
        min-width: 20em;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 3px ridge $thirdColor;
        border-radius: 0.5em;
        background-color: $secondColor;
        button{
            align-self: flex-end;
            min-width: 5em;
            width: 5em;
        }
    }
}

@media (max-width: 910px){
    #banner{
        #bannerTop{
            h1{
                font-size:1.45em;
            }
            ul{
                font-size:0.8em;
            }
        }
        
    }
}

@media (max-width: 760px){
    #banner{
        #bannerTop{
            h1{
                margin: 0 0 0 90px;
                font-size:1.15em;
            }
            ul{
                font-size:0.65em;
                margin-bottom: 1em;
            }
        }
        #bannerBottom{
            margin: 0 0 0 75px;
        }
    }
}

@media (max-width: 630px){
    #banner{
        height: 11.5vh;
        margin-bottom: 1em;
        #bannerTop{
            h1{
                font-size: 1.15em;
                letter-spacing: 0em;
            }
            #bannerTopRight{
                flex-direction: column-reverse;
                #logMenu{
                    align-self: flex-end;
                }
                #navMenu{
                    ul{
                        margin-left: 0;
                        flex-flow: row wrap;
                        font-size: 0.65em;
                        li{
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}