/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
#homeContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#homeContainer #infoRotationCommands .infoCommand {
  margin: 0 1.45em;
  padding: 0.25em;
  height: 1.85em;
  width: 1.85em;
  border-style: none;
  border-radius: 100%;
  background-color: #B04541;
  color: white;
  cursor: pointer;
}

#homeContainer #infoMainContainer {
  margin-top: 3em;
  height: 55vh;
  min-height: 600px;
  width: 20vw;
  min-width: 330px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#homeContainer #infoMainContainer #infoCarroussel {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center -600px;
          transform-origin: center center -600px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer {
  height: 100%;
  width: 100%;
  border: 3px ridge darkGrey;
  position: absolute;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infotitle {
  height: 10%;
  background-color: #B04541;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infotitle h3 {
  margin: 0;
  margin-bottom: 0.5vh;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infotitle .infoIcontainer {
  height: 3.5em;
  width: 3.5em;
  position: absolute;
  top: -1.2em;
  left: -1.2em;
  border: 3px ridge darkGrey;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #B04541;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infotitle .infoIcontainer #qualifIcon {
  height: 2.75em;
  width: 2.75em;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infotitle .infoIcontainer #skillIcon {
  height: 2.25em;
  width: 2.25em;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infotitle .infoIcontainer #presentationIcon {
  height: 2.25em;
  width: 2.25em;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infoContent {
  height: 89.4%;
  padding: 1% 0 0 0.5em;
  background-color: white;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infoContent h4 {
  margin: 0;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infoContent .infoItemList {
  margin: 0.1em 0 0.3em 0;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infoContent .infoItemList .itemElement {
  list-style: none;
  margin-top: 0.35em;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infoContent .infoItemList .itemElement .infoToolTipIcon {
  margin: 0 0.3em;
  color: darkGrey;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infoContent #presentationText {
  padding: 0.4em;
  font-size: 1.15em;
}

#homeContainer #infoMainContainer #infoCarroussel .infoContainer .infoContent #presentationText .presentationParagraph {
  margin-bottom: 0.3em;
}

#homeContainer #infoMainContainer #infoCarroussel #qualifInfo {
  -webkit-transform: rotateY(-120deg) translateZ(600px);
          transform: rotateY(-120deg) translateZ(600px);
}

#homeContainer #infoMainContainer #infoCarroussel #skillInfo {
  -webkit-transform: translateZ(600px);
          transform: translateZ(600px);
}

#homeContainer #infoMainContainer #infoCarroussel #presentationInfo {
  -webkit-transform: rotateY(120deg) translateZ(600px);
          transform: rotateY(120deg) translateZ(600px);
}

#homeContainer #infoToolTip {
  position: absolute;
  border: 3px ridge darkgrey;
  background-color: white;
  padding: 0.5em;
  visibility: hidden;
}

#homeContainer #infoToolTip #infoToolTipTitle {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

@media (max-width: 760px) {
  #homeContainer #infoMainContainer {
    margin-top: 1em;
  }
  #homeContainer #infoMainContainer #infoCarroussel {
    -webkit-transform-origin: center center -97px;
            transform-origin: center center -97px;
  }
  #homeContainer #infoMainContainer #infoCarroussel #qualifInfo {
    -webkit-transform: rotateY(-120deg) translateZ(97px);
            transform: rotateY(-120deg) translateZ(97px);
  }
  #homeContainer #infoMainContainer #infoCarroussel #skillInfo {
    -webkit-transform: translateZ(97px);
            transform: translateZ(97px);
  }
  #homeContainer #infoMainContainer #infoCarroussel #presentationInfo {
    -webkit-transform: rotateY(120deg) translateZ(97px);
            transform: rotateY(120deg) translateZ(97px);
  }
}
/*# sourceMappingURL=style.css.map */