// Règles
@import "../../styleRules/styleRules.scss";

// Constantes
$largeScreeenZScale: 600px;
$smallScreeenZScale: 95.3px;

#homeContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #carrousselRotationCommands{
        .carrousselCommand{
            margin: 0 0.5em;
            height: 1.25em;
            width: 1.25em;
            border-style: none;
            border-radius: 100%;
            background-color: $mainColor;
            font-size: 2.5em;
            color: $thirdColor;
            cursor: pointer;
        }
    }
    #infoMainContainer{
        margin-top: 3em;
        height: 55vh;
        min-height: 600px;
        width: 20vw;
        min-width: 330px;
        perspective: 1000px;
        #infoCarroussel{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            transform-style: preserve-3d;
            transform-origin: center center (0 - $largeScreeenZScale);
            transition: transform 1s;
            .infoContainer{
                height: 100%;
                width: 100%;
                border: 3px ridge $secondColor;
                position: absolute;    
                .infotitle{
                    height: 10%;
                    background-color: $mainColor;
                    text-align: center;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h3{
                        margin: 0;
                        margin-bottom: 0.5vh;
                        font-family: $titleFont;
                        font-size: 2em;
                    }
                    .infoIcontainer{
                        height: 3.5em;
                        width: 3.5em;
                        position: absolute;
                        top: -1.2em;
                        left: -1.2em;
                        border: 3px ridge $secondColor;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $thirdColor;
                        background-color: $mainColor;
                        #qualifIcon{
                            height: 2.75em;
                            width: 2.75em;
                        }
                        #skillIcon{
                            height: 2.25em;
                            width: 2.25em;
                        }
                        #presentationIcon{
                            height: 2.25em;
                            width: 2.25em;
                        }
                    }
                }
                .infoContent{
                    height: 89.4%;
                    padding: 1% 0 0 0.5em;
                    background-color: white;
                    h4{
                        margin: 0;
                    }
                    .infoItemList{
                        margin: 0.1em 0 0.3em 0;
                        .itemElement{
                            list-style: none;
                            margin-top: 0.35em;;
                            .infoToolTipIcon{
                                margin: 0 0.3em;
                                color: $secondColor;
                            }
                        }
                    }
                    #presentationText{
                        padding: 0.4em;
                        font-size: 1.15em;
                        .presentationParagraph{
                            margin-bottom: 0.3em;
                        }
                    }
                }
            }
            #qualifInfo{
                transform: rotateY(-120deg) translateZ($largeScreeenZScale);
            }
            #skillInfo{
                transform: translateZ($largeScreeenZScale);
            }
            #presentationInfo{
                transform: rotateY(120deg) translateZ($largeScreeenZScale);
            }
        }
    }
    #infoToolTip{
        position: absolute;
        border: 3px ridge darkgrey;
        background-color: white;
        padding: 0.5em;
        visibility: hidden;
        #infoToolTipTitle{
            font-family: $titleFont;
            font-weight: bold;
        }
    }
}


@media( max-width: 760px){
    #homeContainer{
        margin-top: 0.5em;
        #carrousselRotationCommands{
            .carrousselCommand{
                margin: 0 0.5em;
                height: 1.15em;
                width: 1.15em;
                font-size: 1.75em;
            }
        }
        #infoMainContainer{
            margin-top: 1em;
            min-height: 550px;
            #infoCarroussel{
                transform-origin: center center (0 - $smallScreeenZScale);
                #qualifInfo{
                    transform: rotateY(-120deg) translateZ($smallScreeenZScale);
                }
                #skillInfo{
                    transform: translateZ($smallScreeenZScale);
                }
                #presentationInfo{
                    transform: rotateY(120deg) translateZ($smallScreeenZScale);
                }
                .infoContainer{
                    .infotitle{
                        h3{
                            font-size: 1.8em;;
                        }
                    }
                    .infoContent{
                        font-size: 0.9em;
                    }
                }
            }
        }

    }
}

