// Règles
@import "../../styleRules/styleRules.scss";

#homeContainer{
    margin: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .infoContainer{
        border: 3px ridge darkgrey;
        width: 35vh;
        min-width: 15em;;
        padding-bottom: 0.5em;
        box-shadow: 5px 5px 5px grey;
        margin : 1em 0;
        .infoTitle{
            display: flex;
            position: relative;
            div{
                background-color: $mainColor;
                border: 3px ridge darkgrey;
                border-radius: 100%;
                height: 3.5em;
                width: 3.5em;
                text-align: center;
                position: absolute;
                top: -1.2em;
                left: -1.2em;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                .qualifIcon{
                    height: 2.75em;
                    width: 2.75em;
                }
                .skillIcon{
                    height: 2.25em;
                    width: 2.25em;
                }
                .infoIcon{
                    height: 2.25em;
                    width: 2.25em; 
                }
            }
            h3{
                flex: 1;
                text-align: center;
                margin: 0;
                padding: 0.3em 0;   
                background-color: $mainColor;
                font-family: $titleFont;
                font-size: 1.5em;
            }
        }
        .infoContent{
            padding: 0.5em 0.5em 0 0.5em;
            h4{
                margin: 0;
            }
        }
        .infoItemList{
            margin: 0;
            padding: 0.25em 0.5em 0 1em;
            list-style: none;
            #infoIcon{
                margin : 0 0.2em;
                color : darkgrey;
            }
        }
        #presentationText{
            padding: 0.4em;
        }
    }
    #infoToolTip{
        position: absolute;
        border: 3px ridge darkgrey;
        background-color: white;
        padding: 0.5em;
        visibility: hidden;
    }
    
    #infoToolTipTitle{
        font-weight: bold;
    }
}

